In [53]:
! pip install pymysql
# mariaDB를 python에서 사용하려면 pymysql이라는 라이브러리를 인스톨 해야합니다.

/bin/sh: 1: pip: not found

# 버스 정류장별 승하차 인원 정보

- https://data.seoul.go.kr/dataList/OA-12913/S/1/datasetView.do

In [54]:
#파이썬에서 mysql 계열 DB를 접속하기 위한 모듈
import pymysql


#DB 처리 모듈
from sqlalchemy import create_engine

#pandas라는 모듈을 사용하기 위한 명령어
#DB에 넣기 위해 데이터를 조작, 추가, 분석을 위한 모듈 (pandas)
import pandas.io.sql as pSql
import pandas as pd

In [55]:
# csv 파일 로드
df = pd.read_csv('/home/it-5c/mysql/2019_bus_updown.csv', encoding='euc-kr')

# 상위 2개만 확인
df.head(2)

,사용년월,노선ID,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역ID,역명,00시승차총승객수,00시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,201901,11110364,N13,N13번(송파공영차고지~상계동차고지),110000184,11284,8002191,석계역2번출구,0,0,...,0,0,0,0,0,0,0,0,0,20190203
1,201901,11110001,100,100번(하계동~용산구청),110000327,11428,8000658,한성여객종점,0,4,...,54,57,45,9,5,6,2,0,2,20190203

In [56]:
# 현재 데이터 컬럼명 확인 
df.columns

Index(['사용년월', '노선ID', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역ID', '역명',
       '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수',
       '2시하차총승객수', '3시승차총승객수', '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수',
       '5시하차총승객수', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수',
       '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수', '10시하차총승객수',
       '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수', '13시승차총승객수',
       '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수', '15시하차총승객수',
       '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수', '18시승차총승객수',
       '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수', '20시하차총승객수',
       '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수', '23시승차총승객수',
       '23시하차총승객수', '등록일자'],
      dtype='object')

In [57]:
# 신규 컬럼명 정의
new_cols = ['use_yyyymm', 'route_ID', 'route_num', 'route_name', 
            'bus_stop_ID', 'bus_stop_ARS_num', 'station_ID', 'station_name',
       'pa_up_00', 'pa_down_00', 
       'pa_up_01', 'pa_down_01', 
       'pa_up_02', 'pa_down_02', 
       'pa_up_03', 'pa_down_03', 
       'pa_up_04', 'pa_down_04', 
       'pa_up_05', 'pa_down_05', 
       'pa_up_06', 'pa_down_06', 
       'pa_up_07', 'pa_down_07', 
       'pa_up_08', 'pa_down_08', 
       'pa_up_09', 'pa_down_09', 
       'pa_up_10', 'pa_down_10',
       'pa_up_11', 'pa_down_11', 
       'pa_up_12', 'pa_down_12', 
       'pa_up_13', 'pa_down_13', 
       'pa_up_14', 'pa_down_14', 
       'pa_up_15', 'pa_down_15',
       'pa_up_16', 'pa_down_16', 
       'pa_up_17', 'pa_down_17', 
       'pa_up_18', 'pa_down_18', 
       'pa_up_19', 'pa_down_19', 
       'pa_up_20', 'pa_down_20',
       'pa_up_21', 'pa_down_21', 
       'pa_up_22', 'pa_down_22', 
       'pa_up_23', 'pa_down_23', 
       'regdate']

In [58]:
# 컬럼명 변경
df.columns = new_cols

In [59]:
# 상위값 확인
df.head(2)

,use_yyyymm,route_ID,route_num,route_name,bus_stop_ID,bus_stop_ARS_num,station_ID,station_name,pa_up_00,pa_down_00,...,pa_down_19,pa_up_20,pa_down_20,pa_up_21,pa_down_21,pa_up_22,pa_down_22,pa_up_23,pa_down_23,regdate
0,201901,11110364,N13,N13번(송파공영차고지~상계동차고지),110000184,11284,8002191,석계역2번출구,0,0,...,0,0,0,0,0,0,0,0,0,20190203
1,201901,11110001,100,100번(하계동~용산구청),110000327,11428,8000658,한성여객종점,0,4,...,54,57,45,9,5,6,2,0,2,20190203

In [60]:
# 연결
# db_url = 'mysql+pymysql://디비ID:디비PW@디비주소:포트번호(생략하면 3306)/데이터베이스명'
db_url = 'mysql+pymysql://maria:12345@127.0.0.1:3306/test'
db_url

'mysql+pymysql://maria:12345@127.0.0.1:3306/test'

In [61]:
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )

In [62]:
# 실연결
conn = engine.connect()

In [63]:
# 삽입(테이블은 자동으로 만들어 준다)
# name = '내가 만들고 싶은 테이블 명 '
df.to_sql( name='table_seoul2_bus_up_down', con=conn, if_exists='replace', index=True )

In [64]:
# 해제
conn.close()

# 버스 정류장 위치 정보
- https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do

In [65]:
# 10월 12일 월요일
import pymysql

# open database connection
db = pymysql.connect(host='localhost', port=3306, user='maria', passwd='12345', db='test', charset='utf8', autocommit=True)

#insert, update, delete문을 사용할 때는 commit이 필요한데, autocommit = True를 해주면 따로 명령어 주지 않아도 됩니다.

In [66]:
#cursor() 메서드 사용하여 cursor 객체 준비하기
cursor = db.cursor()

In [67]:
#executive() 메서드 사용하여 SQL query 실행하기 
cursor.execute("select version()")

1

In [68]:
#fetchone() 메서드를 사용하여 행 하나를 fetch하기 
data = cursor.fetchone()

In [69]:
data

('10.3.22-MariaDB-1ubuntu1',)

In [94]:
SQL = "SELECT * FROM tbl_seoul_bus_up_down LIMIT 20;"
df = pd.read_sql(SQL, db)

df

,index,use_yyyymm,route_ID,route_num,route_name,bus_stop_ID,bus_stop_ARS_num,station_ID,station_name,pa_up_00,...,pa_down_19,pa_up_20,pa_down_20,pa_up_21,pa_down_21,pa_up_22,pa_down_22,pa_up_23,pa_down_23,regdate
0,0,201901,11110364,N13,N13번(송파공영차고지~상계동차고지),110000184,11284,8002191,석계역2번출구,0,...,0,0,0,0,0,0,0,0,0,20190203
1,1,201901,11110001,100,100번(하계동~용산구청),110000327,11428,8000658,한성여객종점,0,...,54,57,45,9,5,6,2,0,2,20190203
2,2,201901,11110001,100,100번(하계동~용산구청),110000286,11387,71598,노원평생학습관,0,...,0,21,2,25,0,8,0,0,0,20190203
3,3,201901,11110001,100,100번(하계동~용산구청),110000273,11374,11084,서울시립북서울미술관,0,...,2,43,4,91,3,63,2,0,0,20190203
4,4,201901,11110001,100,100번(하계동~용산구청),110000272,11373,71499,중계역,0,...,17,47,9,45,8,16,10,0,0,20190203
5,5,201901,11110001,100,100번(하계동~용산구청),110000275,11376,71599,중계역2번출구,0,...,51,282,31,214,41,103,29,0,0,20190203
6,6,201901,11110001,100,100번(하계동~용산구청),110000277,11378,71600,중계3단지목련아파트,0,...,69,45,67,26,32,31,14,0,0,20190203
7,7,201901,11110001,100,100번(하계동~용산구청),110000279,11380,70555,목련아파트상가,0,...,164,220,117,290,112,283,49,0,0,20190203
8,8,201901,11110001,100,100번(하계동~용산구청),110000280,11381,70556,중계목화아파트4단지,0,...,73,107,37,93,45,77,21,0,0,20190203
9,9,201901,11110001,100,100번(하계동~용산구청),110000337,11438,71601,노원경찰서,0,...,29,289,54,155,18,104,9,0,0,20190203
10,10,201901,11110001,100,100번(하계동~용산구청),110000335,11436,71602,하계1동주민센터,0,...,37,207,40,231,23,255,20,0,0,20190203
11,11,201901,11110001,100,100번(하계동~용산구청),110000333,11434,71603,골마을근린공원,0,...,49,185,52,289,48,295,37,0,0,20190203
12,12,201901,11110001,100,100번(하계동~용산구청),110000325,11426,71604,하계역,0,...,279,916,219,641,201,991,161,0,0,20190203
13,13,201901,11110001,100,100번(하계동~용산구청),110000353,11454,70561,하계우성아파트,0,...,84,935,64,841,68,793,68,0,0,20190203
14,14,201901,11110001,100,100번(하계동~용산구청),110000351,11452,70562,하계극동아파트,0,...,166,120,147,116,131,117,98,0,0,20190203
15,15,201901,11110001,100,100번(하계동~용산구청),110000238,11339,70563,월계헬스케어센터,0,...,279,217,231,195,146,203,129,0,0,20190203
16,16,201901,11110001,100,100번(하계동~용산구청),110000211,11311,71605,인덕대학,0,...,569,151,358,116,238,102,342,1,1,20190203
17,17,201901,11110001,100,100번(하계동~용산구청),110000210,11310,71606,월계주공108동앞롯데캐슬루나아파트,0,...,487,178,299,197,240,77,370,1,0,20190203
18,18,201901,11110001,100,100번(하계동~용산구청),108000098,09186,71607,오현초등학교,0,...,662,253,489,196,422,129,612,0,4,20190203
19,19,201901,11110001,100,100번(하계동~용산구청),108000373,09312,8501161,꿈의숲주차장입구,0,...,213,104,147,63,124,90,197,0,1,20190203

In [128]:
SQL ="""
select addr, X좌표, Y좌표
from seoul_bus_addr
where exists
(select route_name, sum(pa_up_12) as 'pass12'
from tbl_seoul_bus_up_down
where use_yyyymm='201901'
group by route_name
having pass12 >= 2000
order by pass12 desc);
"""
df = pd.read_sql(SQL, db)

df

                     addr         X좌표        Y좌표
0       서울 종로구 종로2가 84-11  126.987786  37.569764
1         서울 종로구 와룡동 2-87  126.996520  37.579179
2       서울 종로구 명륜4가 193-2  126.998290  37.582709
3          서울 종로구 관철동 268  126.987507  37.568582
4           서울 종로구 혜화동 56  127.001694  37.586230
...                   ...         ...        ...
11175     서울 강동구 천호동 19-1  127.139326  37.550442
11176  서울 강동구 암사동 421-110  127.140052  37.550620
11177    서울 강동구 성내동 118-2  127.123477  37.533686
11178     서울 강동구 성내동 38-2  127.125410  37.536199
11179    서울 강동구 천호동 407-5  127.127354  37.540390

[11180 rows x 3 columns]

In [76]:
df

   count(id)
0      11180

In [17]:
seoul_bus_gps = pd.read_excel('/home/it-5c/mysql/2019_seoul_bus_gps.xlsx')
seoul_bus_gps.head(2)

   ARSID       표준ID         정류장명         X좌표        Y좌표
0   1001  100000001      종로2가사거리  126.987786  37.569764
1   1002  100000002  창경궁.서울대학교병원  126.996520  37.579179

In [18]:
url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84'
url_id = url_id_ori.format(126.987786, 37.569764)
url_id

'https://dapi.kakao.com/v2/local/geo/coord2address.json?x=126.987786&y=37.569764&input_coord=WGS84'

In [19]:
import os
import sys
import urllib.request
import json

In [20]:
# 카카오 api통신 하여
request = urllib.request.Request(url_id)
request.add_header("Authorization", "KakaoAK %s" % '10f6b5dc4ab7278b073f9aff74fc03e7')
response = urllib.request.urlopen(request)

rescode = response.getcode()
print(rescode)

200

In [21]:
if(rescode ==200):
  tmp=json.load(response)
  print(tmp['documents'][0]['address']['address_name']) 
else:
  print("error code:" + response)

서울 종로구 종로2가 84-11

In [22]:
# 데이터 하나  추가 하여
seoul_bus_gps.index[0], url_id_ori

(0,
 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84')

In [23]:
addrs = list()
for n in seoul_bus_gps.index:
    # url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84' 
    x = seoul_bus_gps.iloc[n, -2]
    y = seoul_bus_gps.iloc[n, -1]
    url_id = url_id_ori.format(x, y)
    # print(x, y, url_id)

    request  = urllib.request.Request(url_id)
    #request.add_header("Authorization", 'KakaoAK %s' % '개인인증키 REST API 키')
    request.add_header("Authorization", 'KakaoAK %s' % '10f6b5dc4ab7278b073f9aff74fc03e7')
    response = urllib.request.urlopen(request)

    rescode  = response.getcode()
    if(rescode==200):
        tmp = json.load( response )
        try:
            addrs.append( tmp['documents'][0]['address']['address_name'] )
        except Exception as e:
            addrs.append( '' )
    else:
        print("Error Code:" + rescode)
    #break
seoul_bus_gps['addr'] = addrs

In [24]:
seoul_bus_gps.head(2)

   ARSID       표준ID         정류장명         X좌표        Y좌표               addr
0   1001  100000001      종로2가사거리  126.987786  37.569764  서울 종로구 종로2가 84-11
1   1002  100000002  창경궁.서울대학교병원  126.996520  37.579179    서울 종로구 와룡동 2-87

In [25]:
seoul_bus_gps.tail(2)

       ARSID       표준ID         정류장명         X좌표        Y좌표              addr
11178  25998  124000331         성내시장  127.125410  37.536199   서울 강동구 성내동 38-2
11179  25999  124000330  천호우체국.로데오거리  127.127354  37.540390  서울 강동구 천호동 407-5

In [26]:
# db에 담기
# 연결
db_url = 'mysql+pymysql://maria:12345@127.0.0.1/test'
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )
# 실연결
conn = engine.connect()
# 삽입
seoul_bus_gps.to_sql( name='seoul_bus_addr', con=conn, if_exists='replace', index=True )
# 해제
conn.close()

In [27]:
# DB에 있는 데이터를  엑셀에 덤프하여 차후 활용
# na_rep='NaN'
seoul_bus_gps.to_csv('seoul_bus_gps.csv', sep='|', encoding='utf-8')

아래 셀 부터 테스트 용

In [ ]:
# 위의 데이터에는 주소 정보가 없어서 카카오 API를 이용하여 주소 정보를 추가로 넣는다
# 전 정류장 주소 조회 하여 데이터 추가
# https://developers.kakao.com에 접속후 > 앱생성 > 개인인증키 REST API 키 획득
from tqdm import tqdm_notebook
addrs = list()
for n in tqdm_notebook(seoul_bus_gps.index):
    url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84' 
    x = seoul_bus_gps.iloc[n, -2]
    y = seoul_bus_gps.iloc[n, -1]
    url_id = url_id_ori.format(x, y)
    request  = urllib.request.Request(url_id)
    #request.add_header("Authorization", 'KakaoAK %s' % '개인인증키 REST API 키')
    request.add_header("Authorization", 'KakaoAK %s' % '91c21906cc286f480aaf010750705cb2')
    response = urllib.request.urlopen(request)
    rescode  = response.getcode()
    if(rescode==200):
        tmp = json.load( response )
        try:
            addrs.append( tmp['documents'][0]['address']['address_name'] )
        except Exception as e:
            addrs.append( '' )
    else:
        print("Error Code:" + rescode)
    #break

In [ ]:
# 위의 데이터에는 주소 정보가 없어서 카카오 API를 이용하여 주소 정보를 추가로 넣는다
# 전 정류장 주소 조회 하여 데이터 추가
# https://developers.kakao.com에 접속후 > 앱생성 > 개인인증키 REST API 키 획득
from tqdm import tqdm_notebook
addrs = list()
for n in tqdm_notebook(seoul_bus_gps.index):
    url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84' 
    x = seoul_bus_gps.iloc[n, -2]
    y = seoul_bus_gps.iloc[n, -1]
    url_id = url_id_ori.format(x, y)
    request  = urllib.request.Request(url_id)
    #request.add_header("Authorization", 'KakaoAK %s' % '개인인증키 REST API 키')
    request.add_header("Authorization", 'KakaoAK %s' % '인증키를채우세요')
    response = urllib.request.urlopen(request)
    rescode  = response.getcode()
    if(rescode==200):
        tmp = json.load( response )
        try:
            addrs.append( tmp['documents'][0]['address']['address_name'] )
        except Exception as e:
            addrs.append( '' )
    else:
        print("Error Code:" + rescode)
    #break

In [ ]:
# 위의 데이터에는 주소 정보가 없어서 카카오 API를 이용하여 주소 정보를 추가로 넣는다
# 전 정류장 주소 조회 하여 데이터 추가
# https://developers.kakao.com에 접속후 > 앱생성 > 개인인증키 REST API 키 획득
from tqdm import tqdm_notebook
addrs = list()
for n in tqdm_notebook(seoul_bus_gps.index):
    url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84' 
    x = seoul_bus_gps.iloc[n, -2]
    y = seoul_bus_gps.iloc[n, -1]
    url_id = url_id_ori.format(x, y)
    request  = urllib.request.Request(url_id)
    #request.add_header("Authorization", 'KakaoAK %s' % '개인인증키 REST API 키')
    request.add_header("Authorization", 'KakaoAK %s' % '인증키를채우세요')
    response = urllib.request.urlopen(request)
    rescode  = response.getcode()
    if(rescode==200):
        tmp = json.load( response )
        try:
            addrs.append( tmp['documents'][0]['address']['address_name'] )
        except Exception as e:
            addrs.append( '' )
    else:
        print("Error Code:" + rescode)
    #break

In [ ]:
# gps 위치 확인
seoul_bus_gps.iloc[n, -2], seoul_bus_gps.iloc[n, -1]

In [ ]:
# 위의 데이터에는 주소 정보가 없어서 카카오 API를 이용하여 주소 정보를 추가로 넣는다
# 전 정류장 주소 조회 하여 데이터 추가
# https://developers.kakao.com에 접속후 > 앱생성 > 개인인증키 REST API 키 획득
from tqdm import tqdm_notebook
addrs = list()
for n in tqdm_notebook(seoul_bus_gps.index):
    url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84' 
    x = seoul_bus_gps.iloc[n, -2]
    y = seoul_bus_gps.iloc[n, -1]
    url_id = url_id_ori.format(x, y)
    request  = urllib.request.Request(url_id)
    #request.add_header("Authorization", 'KakaoAK %s' % '개인인증키 REST API 키')
    request.add_header("Authorization", 'KakaoAK %s' % '인증키를채우세요')
    response = urllib.request.urlopen(request)
    rescode  = response.getcode()
    if(rescode==200):
        tmp = json.load( response )
        try:
            addrs.append( tmp['documents'][0]['address']['address_name'] )
        except Exception as e:
            addrs.append( '' )
    else:
        print("Error Code:" + rescode)
    #break

In [ ]:
# 원본 데이터에 주소 데이터 추가
seoul_bus_gps[ 'addr' ] = addrs

In [ ]:
# 상위값 확인
seoul_bus_gps.head(2)

In [ ]:
# 하위값 확인
seoul_bus_gps.tail(2)

In [ ]:
# 연결
db_url = 'mysql+pymysql://maria:12345@127.0.0.1/test'
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )
# 실연결
conn = engine.connect()
# 삽입
seoul_bus_gps.to_sql( name='tbl_seoul_bus_addr', con=conn, if_exists='replace', index=True )
# 해제
conn.close()

In [ ]:
# DB에 있는 데이터를  엑셀에 덤프하여 차후 활용
# na_rep='NaN'
seoul_bus_gps.to_csv('seoul_bus_gps.csv', sep='|', encoding='utf-8')