### 1. 정수 0으로 구성된 크기의 10의 벡터를 만들어 보세요.

### 2. 1에서 만든 배열의 총 바이트 크기를 구하는 코드를 작성해 보세요

### 3. 1에서 만든 배열에서 5번째 값을 1로 변경 해보세요.

### 4. 10~49까지의 정수 값을 연속적으로 가지는 벡터를 만들어 보세요

### 5. 4번에서 생성한 벡터를 역순으로 출력하는 코드를 작성하세요

### 6. 0에서 8까지의 값을 가지는 1차원 배열을 3x3(2차원)배열로 바꿔보세요.

### 7. [1,2,0,0,4,0]에서 0이 아닌 원소의 위치를 저장한 배열을 만들어 보세요.(array[0,1,4]가 출력되도록 합니다.)

### 8. 랜덤값을 갖는 3x3x3 배열을 생성 하세요.

### 9. 랜덤하게 생성된 10x10 배열의 최대, 최소 값을 찾아 출력하라.

### 10. 30개의 랜덤한 정수값을 갖는 배열을 생성하고, 모든 값의 평균을 출력하라.

### 11. 10x10 배열을 가장 외곽은 모두 1, 안쪽은 모두 0으로 채워지도록 생성하라.

### 12. 11과 반대로 외곽은 0, 안쪽을 모두 1이 채워지도록 하라.

### 13. 8x8 배열에서 홀수 열은 0,1 순으로 , 짝수열은 1,0 순으로 반복되도록 채워라.

### 14. 정규분포를 따르는 5x5 배열의 랜덤 값을 생성하라.

### 15. 0에서 10까지의 10개의 데이터를 1차원 배열에 생성하고, 4~7만 음수로 바꾸는 코드를 작성하라.ex)([0,1,2,3,-4,-5,-6,-7,8,9,10])

### 16. 랜덤하게 생성된 10개의 값에서 가장 큰 값을 0으로 채워라.

### 17. 다음 2차원 배열을 생성하고, 아래1), 2), 3)과 같이 출력하라
arr_2d = np.arange(10),reshape(2,5)
arr_2d

### 1) array([[5,6,7,8,9],
               [0,1,2,3,4]])
     2) array([[4,3,2,1,0],
               [9,8,7,6,5]])
     3) array([[9,8,7,6,5],
              [4,3,2,1,0]])

In [2]:
import numpy as np
arr_2d = np.arange(10).reshape(2,5)
arr_2d

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])