In [1]:
! pip3 install pymysql

/bin/sh: 1: pip: not found

# 버스 정류장별 승하차 인원 정보

- https://data.seoul.go.kr/dataList/OA-12913/S/1/datasetView.do

In [16]:
# 파이썬에서 mysql 계열 디비를 접속하기 위한 모듈
import pymysql
# 디비 처리 모듈
from sqlalchemy import create_engine
# 디비에 넣기 위해 데이터를 조작, 추가, 분석을 위한 모듈 (pandas)
import pandas.io.sql as pSql
import pandas as pd

In [3]:
# csv 파일 로드
df = pd.read_csv('/home/it-5c/mysql/2019_bus_updown.csv', encoding='euc-kr')
# 상위 2개만 확인
df.head(2)

,사용년월,노선ID,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역ID,역명,00시승차총승객수,00시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,201901,11110364,N13,N13번(송파공영차고지~상계동차고지),110000184,11284,8002191,석계역2번출구,0,0,...,0,0,0,0,0,0,0,0,0,20190203
1,201901,11110001,100,100번(하계동~용산구청),110000327,11428,8000658,한성여객종점,0,4,...,54,57,45,9,5,6,2,0,2,20190203

In [4]:
# 현재 데이터 컬럼명 확인 
df.columns

Index(['사용년월', '노선ID', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역ID', '역명',
       '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수',
       '2시하차총승객수', '3시승차총승객수', '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수',
       '5시하차총승객수', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수',
       '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수', '10시하차총승객수',
       '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수', '13시승차총승객수',
       '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수', '15시하차총승객수',
       '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수', '18시승차총승객수',
       '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수', '20시하차총승객수',
       '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수', '23시승차총승객수',
       '23시하차총승객수', '등록일자'],
      dtype='object')

In [5]:
# 신규 컬럼명 정의
new_cols = ['use_yyyymm', 'route_ID', 'route_num', 'route_name', 
            'bus_stop_ID', 'bus_stop_ARS_num', 'station_ID', 'station_name',
       'pa_up_00', 'pa_down_00', 
       'pa_up_01', 'pa_down_01', 
       'pa_up_02', 'pa_down_02', 
       'pa_up_03', 'pa_down_03', 
       'pa_up_04', 'pa_down_04', 
       'pa_up_05', 'pa_down_05', 
       'pa_up_06', 'pa_down_06', 
       'pa_up_07', 'pa_down_07', 
       'pa_up_08', 'pa_down_08', 
       'pa_up_09', 'pa_down_09', 
       'pa_up_10', 'pa_down_10',
       'pa_up_11', 'pa_down_11', 
       'pa_up_12', 'pa_down_12', 
       'pa_up_13', 'pa_down_13', 
       'pa_up_14', 'pa_down_14', 
       'pa_up_15', 'pa_down_15',
       'pa_up_16', 'pa_down_16', 
       'pa_up_17', 'pa_down_17', 
       'pa_up_18', 'pa_down_18', 
       'pa_up_19', 'pa_down_19', 
       'pa_up_20', 'pa_down_20',
       'pa_up_21', 'pa_down_21', 
       'pa_up_22', 'pa_down_22', 
       'pa_up_23', 'pa_down_23', 
       'regdate']

In [6]:
# 컬럼명 변경
df.columns = new_cols

In [7]:
# 상위값 확인
df.head(2)

,use_yyyymm,route_ID,route_num,route_name,bus_stop_ID,bus_stop_ARS_num,station_ID,station_name,pa_up_00,pa_down_00,...,pa_down_19,pa_up_20,pa_down_20,pa_up_21,pa_down_21,pa_up_22,pa_down_22,pa_up_23,pa_down_23,regdate
0,201901,11110364,N13,N13번(송파공영차고지~상계동차고지),110000184,11284,8002191,석계역2번출구,0,0,...,0,0,0,0,0,0,0,0,0,20190203
1,201901,11110001,100,100번(하계동~용산구청),110000327,11428,8000658,한성여객종점,0,4,...,54,57,45,9,5,6,2,0,2,20190203

In [ ]:
# 연결
# db_url = 'mysql+pymysql://디비ID:디비PW@디비주소:포트번호(생략하면 3306)/데이터베이스명'
db_url = 'mysql+pymysql://maria:12345@127.0.0.1:3306/test'
db_url

In [9]:
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )

In [10]:
# 실연결
conn = engine.connect()

In [11]:
# 삽입(테이블은 자동으로 만들어 준다)
df.to_sql( name='seoul_bus_up_down', con=conn, if_exists='replace', index=True )

In [12]:
# 해제
conn.close()

# 버스 정류장 위치 정보
- https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do

In [22]:
# 파이썬에서 mysql 계열 디비를 접속하기 위한 모듈
import pymysql
# 디비 처리 모듈
from sqlalchemy import create_engine
# 디비에 넣기 위해 데이터를 조작, 추가, 분석을 위한 모듈 (pandas)
import pandas.io.sql as pSql
import pandas as pd

In [24]:
seoul_bus_gps = pd.read_excel('/home/it-5c/mysql/2019_seoul_bus_gps.xlsx')
seoul_bus_gps.head(2)

   ARSID       표준ID         정류장명         X좌표        Y좌표
0   1001  100000001      종로2가사거리  126.987786  37.569764
1   1002  100000002  창경궁.서울대학교병원  126.996520  37.579179

In [25]:
url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84'
url_id = url_id_ori.format(126.987786, 37.569764)
url_id

'https://dapi.kakao.com/v2/local/geo/coord2address.json?x=126.987786&y=37.569764&input_coord=WGS84'

In [26]:
import os
import sys
import urllib.request
import json

In [27]:
# 카카오 api통신 하여
request = urllib.request.Request(url_id)
request.add_header("Authorization", "KakaoAK %s" % '91c21906cc286f480aaf010750705cb2')
response = urllib.request.urlopen(request)

rescode = response.getcode()
print(rescode)

200

In [28]:
if(rescode ==200):
  tmp=json.load(response)
  print(tmp['documents'][0]['address']['address_name']) 
else:
  print("error code:" + response)

서울 종로구 종로2가 84-11

In [29]:
# 데이터 하나  추가 하여
seoul_bus_gps.index[0], url_id_ori

(0,
 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84')

In [31]:
addrs = list()
for n in seoul_bus_gps.index:
    # url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84' 
    x = seoul_bus_gps.iloc[n, -2]
    y = seoul_bus_gps.iloc[n, -1]
    url_id = url_id_ori.format(x, y)
#     print(x, y, url_id)

    request  = urllib.request.Request(url_id)
    #request.add_header("Authorization", 'KakaoAK %s' % '개인인증키 REST API 키')
    request.add_header("Authorization", 'KakaoAK %s' % '91c21906cc286f480aaf010750705cb2')
    response = urllib.request.urlopen(request)

    rescode  = response.getcode()
    if(rescode==200):
        tmp = json.load( response )
        try:
            addrs.append( tmp['documents'][0]['address']['address_name'] )
        except Exception as e:
            addrs.append( '' )
    else:
        print("Error Code:" + rescode)
    #break
seoul_bus_gps['addr'] = addrs

In [36]:
seoul_bus_gps.head(2)

   ARSID       표준ID         정류장명         X좌표        Y좌표               addr
0   1001  100000001      종로2가사거리  126.987786  37.569764  서울 종로구 종로2가 84-11
1   1002  100000002  창경궁.서울대학교병원  126.996520  37.579179    서울 종로구 와룡동 2-87

In [37]:
seoul_bus_gps.tail(2)

       ARSID       표준ID         정류장명         X좌표        Y좌표              addr
11178  25998  124000331         성내시장  127.125410  37.536199   서울 강동구 성내동 38-2
11179  25999  124000330  천호우체국.로데오거리  127.127354  37.540390  서울 강동구 천호동 407-5

In [34]:
# db에 담기
# 연결
db_url = 'mysql+pymysql://maria:12345@127.0.0.1/test'
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )
# 실연결
conn = engine.connect()
# 삽입
seoul_bus_gps.to_sql( name='seoul_bus_addr', con=conn, if_exists='replace', index=True )
# 해제
conn.close()

In [38]:
# DB에 있는 데이터를  엑셀에 덤프하여 차후 활용
# na_rep='NaN'
seoul_bus_gps.to_csv('seoul_bus_gps.csv', sep='|', encoding='utf-8')

아래 셀 부터 테스트 용